body{
  background-image: url(../IMG/background-img.png);
  background-size: contain;
}

#main-space {
    background-size: cover;
    text-align: center;
    align-items: center;
}

.img-wrap {
  overflow: hidden;
  position: relative;
}

.img-wrap:before {
  animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-wrap {
  100% {
    transform: translateX(100%);
  }
}

#content {
    width: 1620px;
    margin: auto;
}

#menber-logo {
    background-color: #000;
    opacity: 0.8;
    margin-top: 100px;
    margin-bottom: 50px;
}

.member-block {
    margin: 0px 50px 0 50px;
}

.member-line {
    display: flex;
}

.member-line li {
    flex: auto;
}

.member-line div {
	width: 	100%;
    border: 2px solid #000;
    background-color: #fff;
    margin: 0px 15px 30px 15px;
	box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .5);
}

.member0:hover{
    background-color: #f5f5f5;
	border: 2px solid #ffa500;
    padding: 15px;
    transition: 1s;
    transition: all 0.4s;
}

.member-li{
	margin: 15px 60px 0 30px;
}
/***追従するトップへ戻るボタン***/
#page-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    background: #fff;
    color: #737373;
    padding: 15px;
    border: solid 1px;
    border-radius: 50%;
    box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
}
/***トップへ戻るボタンここまで***/