body {
    width: 100%;
    max-width: 100%;
    height: max-content;
}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: #000;
    color: #fff;;
    height: max-content;
    text-align: center;
}

header a:hover {
    opacity: 0.7;
    transition: all 0.4s;
}

.flex {
    display: flex;
}

#header-logo {
    width: 520px;
    height: 100px;
}

#header-menu {
    width: 1400px;
    height: 100px;
    text-align: right;
    font-size: 18px;
}

.menu-list {
    display: flex;
    height: 100px;
    align-items: center;
}

.menu-list li {
    flex: auto;
}

.menu-li9 {
    text-align: center;
    border: 1px solid #fff;
    font-size: 14px;
}

.text-item{
	margin-top: 50px;
	font-size: 40px; 
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
}

.go-top {
    position: fixed;
    right: 30px;
    bottom: 0px;
    z-index: 10;
}

.go-top a:hover {
    opacity: 0.7;
    transition: all 0.4s;
}

.footer-img{
	height: max-content;
}

footer {
	margin-top: 100px;
    background-color: #000;
    font-size: 12px;
    color: #fff;
    height: max-content;
    text-align: center;
}

.footer {
    padding: 30px 0px;
    margin: 0px 100px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

.footer-end {
    padding: 30px 0px;
}